BR2_CCACHE=y
BR2_OPTIMIZE_3=y
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_TARGET_GENERIC_HOSTNAME="centaur"
BR2_TARGET_GENERIC_ISSUE="Welcome to DGT Centaur!"
BR2_TARGET_ENABLE_ROOT_LOGIN=y
BR2_ROOTFS_OVERLAY="board/raspberrypi/zerow/rootfs_overlay/"
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_RNG_TOOLS=y
BR2_PACKAGE_DHCPCD=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_WPA_CLIENT_SO=y
BR2_PACKAGE_HOST_MKPASSWD=y
